@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --grid-width: 900px;
    --gap: 2rem;
}

.custom-container {
    display: grid;
    grid-template-columns: 1fr min(var(--grid-width), calc(100% - (var(--gap) * 2))) 1fr;
    grid-column-gap: var(--gap);
}

.custom-container > * {
    grid-column: 2;
}

.custom-container > .full-width {
    grid-column: 1 / -1;
}

h1, h2, h3 {
    font-family: var(--font-bitter);
}

p, button, input, a {
    font-family: var(--font-open-sans);
    font-size: 18px;
}